*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; direction: rtl;}

html {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: IRANSans;
    font-size: .9em;
    font-weight: 300;
}

.navigation {
    background-color: #49484b;
    /* height: 2.5em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9em;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style: none;
    padding:12px 20px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}
.navigation .shopin {
    background-color: #2c2b2d;
} 
.navigation a:hover {
   opacity:.7 ;
}

/*----------Sub-Navbar--------*/
.sub-navbar {
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
    font-size: .9em;
    justify-content: space-between;
}
.sub-navbar  .head-right {
    display: flex;
    align-items: center;
}
.sub-navbar .Menu-Icon {
    background-color: #0095da;
    padding: 13px;
    color: white;
    border-radius: 3px;
}

.sub-navbar .Menu-Icon a {
    color: white;
    text-decoration: none;
    
}
.sub-navbar .Menu-Icon .fa-sort-desc {
    padding-left: .4em;
}
/* ---------- sub-navbar & Search-Box -------------*/
.sub-navbar .Search-Box {
    display: flex;
}

.sub-navbar .Search-Box input {
    padding: 13px;
    padding-left: 89px;
    background-color: #f3f3f3;
    margin-right: 20px;
    border: 0;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 350px;
}
.sub-navbar .Search-Box  .search {
    background-color:#a5a5a5;
    font-family: IRANSans ;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sub-navbar .Search-Box  .search i {
    color: white;
    font-size: 1.3em;
    padding: 11px;
}
/*---------------- Sub-Navbar &  head-left -------------- */

.sub-navbar .head-left {
   display: flex;
   align-items: center;
}
.sub-navbar .head-left a {
    background-color: #4caf50;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sub-navbar .head-left a i {
    padding: 11px;
    font-size: 20px;
    background-color: rgba(255,255,255,.2);
    margin-left: 15px;
}
.sub-navbar .head-left a span {
font-size: 1.1em;
margin: 8px;
background-color: rgba(255,255,255,.2);
padding: 5px 8px 1px;
border-radius: 50%;
}
/*------------ Slider ---------------*/

.slider {
    height: 250px;
    background-size: cover !important;
    display: flex;
    align-items: center;
}
.slider .title {
    margin-right: 10%;
} 
.slider .title button {
    background-color: #38ca6f;
    padding: 12px 20px;
    border-radius: 3px;
    border: none;
    font-family: inherit !important;
}
.slider .title button a {
    color: white;
    text-decoration: none;
}
.slider .title .Product-Specifications {
    background-color: white;
    font-size: 1.3em;
    font-weight: 400;
    display: flex;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 3px;
}
.slider .title .Product-Specifications .iphone {
    margin-left: 100px;
}

/*--------- Body -- special-offer ------------*/


.special-offer {
    margin:15px 20px 20px 20px;
}
.special {
   display: flex;
   align-items: center;
   margin-top: 30px;
}
.special h3 {
    font-size: 1.6em;
    font-weight: 500;
    margin-left:10px;
    color: #4d4d4d;
}
.special a {
    border-bottom: 1px solid rgba(77, 77, 77, .5);
    text-decoration: none;
    color: #4d4d4d;
    padding-bottom: 3px;
    font-size: .9em;
    font-weight: 300;
}
.Box {
 width: outo;
 margin-left: 10px;
 margin-top: 15px;
}
.special-offer .Box .img ,
.best-sellers .Box .img{
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.special-offer .Box .img img ,
.best-sellers .Box .img img {
    display: flex;
    height: 196px;
    align-items: center;
}
.hard {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.special-offer .Box .hard a ,
.best-sellers .Box .hard a {
    margin-top: 15px;
    text-decoration: none;
    color: #444444;
    font-size: 1em;
    font-weight: 400;
}
.special-offer .Box .hard .oduct__discount ,
.best-sellers .View-list  .Box .hard .oduct__discount {
    margin-top: 10px;
    color: rgb(224, 69, 69);
    text-decoration: line-through;
    font-size: .9em;
    font-weight: 500;
}
.special-offer .Box .hard .product__orginal ,
.best-sellers .View-list  .Box .hard .product__orginal {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 400;
    color:#4caf50;
}

/*------------- Banner-Box ------------*/

.banner-box {
    margin: 35px 20px 20px 20px;

}
.banner-box .banner-box-top ,
.banner-box .banner-box-bottom {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.banner-box .banner-box-top a ,
.banner-box .banner-box-bottom a {
    margin-left: 10px;
}
.banner-box .banner-box-top a img ,
.banner-box .banner-box-bottom a img {
    width: 100%;
}

/*------------ Best-Sellers ----------*/
.best-sellers {
    margin:15px 20px 25px 20px;
    padding-bottom: 25px;
}
.best-sellers .best-sellers-head {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 35px;
}
.best-sellers .best-sellers-head h3 {
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0 ,.6);
}
.best-sellers .best-sellers-head .p4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: .9em;
    line-height:1.8em;
    width: 70%;
  
}
.best-sellers .best-sellers-head  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: 70%;
    line-height: 1.6em;
    font-size: .9em;
}
.best-sellers .best-sellers-nav a {
  position: absolute;
  left: 25px;
  text-decoration: none;
  border-bottom: 1px solid rgba(77, 77, 77, .5);
  font-size: .9em;
  font-weight: 300;
  color: #4d4d4d;
    padding-bottom: 3px;
}
.best-sellers .best-sellers-nav a:hover {
    border-bottom: none;
}
/*--------------- Best-Sellers & View-List -------------------*/
.View-list {
    display: flex;
    margin-top: 15px;
}

/*--------------Product-Review ---------------*/

.Product-Review {
    display: flex;
    background-color: #f5f5f5;
}
.Product-Review .Product-Review-head {
    background:rgba(0, 0, 0 ,.2 ) url(../img/comment.png) ;   
    background-blend-mode: luminosity;
                                 
    height: 522px;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex-basis: 30%;
    position: relative;
}

/* .Product-Review .Product-Review-head::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0 ,.4);
} */
.Product-Review .Product-Review-head .content {
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.8;
}
.Product-Review .Product-Review-head .content h3 {
    font-weight: 400;
    font-size: 2em;
}
.Product-Review .Product-Review-head .content p {
    margin: 10px;
    font-size: .9em;
    font-weight: 300;
}
.Product-Review .Product-Review-head .content a {
    font-size: 1.2em;
    border-bottom: 1px solid;
    color: white;
    text-decoration: none;
}
.Product-Review-Box {
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
    padding: 20px;
}
.Product-Review-Box .Product-Review-Boxx {
    background-color:white;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 10px;
    padding: 20px;
    flex-basis: calc(50% - 20px);
}
.Product-Review-Box .Product-Review-Boxx h3 {
    color: #333;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0 ,.2);
    font-size: 1.2em;
}
.Product-Review-Box .Product-Review-Boxx p {
    line-height: 1.6em;
    padding-top: 15px;
}